  .highlight-card{
  width: 23.5%;
  border: 0.1rem solid lightgray;
  background-color: white;
  border-radius: 1rem;
 }

 .highlight-card:hover{
  transition-duration: 0.5s;
  transform: scale(1.2);
 }
  .highlightcard-textbox {
    display: flex;
    color: black;
  }
  .highlight-card img{
    max-width: 447px;
    max-height: 300px;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
@media(max-width:675px){
  .highlight-card{
    width: 70%;
    margin: 1rem auto;
  }
 
}