.highlighted-area {
    display: flex;
    justify-content: space-around;
    padding-bottom: 11rem;
  }
.ha-container{
  background-color: #dee0db;
  padding-top: 2rem;
}
h1{
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

@media(max-width:675px){
  .highlighted-area{
    flex-direction: column;   
  }
}  
